<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inc.iris.techudbhav">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/buddy"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Developer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity android:name=".Gallery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity android:name=".Registration" />
        <activity
            android:name=".CampusAmbassador"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Schedule"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Sponsors"
            android:parentActivityName=".Home" />
        <activity
            android:name=".TechUdbhav"
            android:parentActivityName=".Home" />
        <activity
            android:name=".BITSindri"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Team"
            android:parentActivityName=".Home" />
        <activity
            android:name=".MrMissTechnocratActivity"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".BytetheBits"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".SoccerBot"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".TechExpo"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".Insight"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".GeekoMania"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".GameOThon"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".PdfViewer"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".IndustrialProblemSolution"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".PeoplesVoice"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".Grafitti"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".MemeShow"
            android:parentActivityName=".EventsActivity" />
        <activity
            android:name=".EKryptics"
            android:parentActivityName=".EventsActivity" />
    </application>

</manifest>